/01_workingcopy.fla
/03_workingcopy.fla
/03_workingcopy.swf
/04_workingcopy.fla
/04_workingcopy.html
/04_workingcopy.js
/10 APRIL 22
/2243020_AMANDA_JABAWAN FISIKA.docx
/2281026_GLORI YANI.docx
/251022.cpp
/251022.exe
/Adobe
/Adobe mulmed
/Animasi
/Apache-NetBeans-15-bin-windows-x64.exe
/BAHASA INGGRIS 1 (SEMESTER 1
/C-Free
/C-Free 5.cpp
/C-Free 5.exe
/C-Free 5.o
/Canon
/coding osel
/codingan
/contohBubbleSort.cpp
/contohBubbleSort.exe
/ContohDoubly.cpp
/ContohDoubly.exe
/contohDoublyLinkedList.cpp
/contohDoublyLinkedList.exe
/contohEvaluasiPostfix.cpp
/contohEvaluasiPostfix.exe
/ContohPostfixEvaluation.cpp
/contohSelectionSort.cpp
/Copy of EL(1).xlsx
/Custom Office Templates
/CV
/DASAR DASAR AKUNTANSI (SEMESTER 1)
/Desktop - Shortcut.lnk
/desktop.ini
/Downloads - Shortcut.lnk
/English 3.docx
/favicon
/FeedbackHub
/form-kegiatan-kampus-2022-2023-1.docx
/game.rar
/GHOSEN
/GIRLS CLUB
/GitHub
/hello.html
/HIDUP DAN AJARAN YESUS (SEMESTER 1)
/HUBUNGAN PAKAIAN DAN PENDIDIKAN.pdf
/images
/IMG_1188.JPG
/IMG_1190.JPG
/IMG_7279.JPG
/IMG_7280.JPG
/IMG_7307.JPG
/IMG_7308.JPG
/IMG_7309.JPG
/IMG_7310.JPG
/IMG_7311.JPG
/IMG_7313.JPG
/IMG_7315.JPG
/IMG_7316.JPG
/IMG_7317.JPG
/IMG_7318.JPG
/IMG_7319.JPG
/IMG_7320.JPG
/IMG_7321.JPG
/IMG_7323.JPG
/IMG_7324.JPG
/IMG_7325.JPG
/IMG_7330.JPG
/IMG_7332.JPG
/IMG_7333.JPG
/IMG_7336.JPG
/IMG_7401.JPG
/IMG_7402.JPG
/IMG_7511.JPG
/IMG_7571.JPG
/IMG_7572.JPG
/IMG_7573.JPG
/IMG_7586.JPG
/IMG_7591.JPG
/IMG_7593.JPG
/IMG_7599.JPG
/IMG_7600.JPG
/IMG_7601.JPG
/IMG_7603.JPG
/IMG_7604.JPG
/IMG_7605.JPG
/IMG_7606.JPG
/IMG_7607.JPG
/IMG_7608.JPG
/IMG_7609.JPG
/IMG_7613.JPG
/IMG_7614.JPG
/IMG_7616.JPG
/IMG_7619.JPG
/IMG_7620.JPG
/IMG_7621.JPG
/IMG_7622.JPG
/IMG_7634.JPG
/IMG_7637.JPG
/IMG_7638.JPG
/IMG_7643.JPG
/IMG_7645.JPG
/IMG_7646.JPG
/Iphone
/IPHONE 13
/JAD_BK.xlsx
/Janganlah khawatir akan hidupmu.pdf
/Kesaksian oselvia covid 19.pptx
/LIghtroom Basic Editing_1.zip
/Lincoln.java.txt
/LOGIKA MATEMATIKA (SEMESTER 1)
/M LT - 12 Febuari 2022 - RUMAH TANGGA ADVENT.pdf
/Makalah Pengantar Bisnis.docx.zmdownload
/MANAJEMEN SI - SEM 4
/MATEMATIKA 1 (SEMESTER 1)
/McAfee Vaults
/Merge tabel.pptx
/merlin cenaa
/MIDTEST PANCASILA_[SISTEM INFORMASI] - [OSELVIA JULIANA SIMATUPANG] - [2182020].doc
/MissFergie
/Music - Shortcut.lnk
/New folder
/OCEL.zip
/OSELVIA 2182020 RINGKASAN BAB 6 MTK 2.pdf
/OSELVIA 2182020 SORTING DAN SEARCHING.cpp
/OSELVIA 2182020 SORTING DAN SEARCHING.exe
/OSELVIA 2182020 STRUKTUR DATA.cpp
/OSELVIA 2182020 STRUKTUR DATA.exe
/OSELVIA 2182020 TUGAS 4 PRAKTIK ALGO
/OSELVIA 2182020 TUGAS 4 PRAKTIK ALGO.pdf
/OSELVIA 2182020 TUGAS CYBERCRIME-KONSEP SI
/OSELVIA 2182020 TUGAS KONSEP SI-CYBERCRIME.pdf
/OSMAR
/PBO_FinalProject_LogBook.docx
/Pemenang Daily Activity
/PEMROGRAMAN BERGERAK - SI
/PENDIDIKAN BEKERJA (SEMESTER 1)
/Pictures - Shortcut.lnk
/PRAKTEK 1 - VIONA SIMBOLON - XIPA5.docx
/PRAKTIK ALPRO (SEMESTER 1)
/PROJECT FINAL PBO.zip
/PROJECTPBO
/PROPOSAL FINAL PROJECT WEB 2 - 2182020 OSELVIA.docx
/PROPOSAL.docx
/Proposal.pkt
/PTI (SEMESTER 1)
/Putri Amanda Sitepu.docx
/referensi jurnal
/Semester 7 Etichal Hacking
/SOLIT ANTAR SEMESTA
/Sound Recordings
/SP WS
/Tugas 5 Ujian 5
/Tugas.txt
/ujian 1 matematika 2082012.docx
/ujian MID Praktikum Alpro
/ULTAH JEGIN
/Untitled1 6 oktober.cpp
/Untitled1 6 oktober.exe
/Untitled1.10.cpp
/Untitled1.10.exe
/Untitled1.cpp
/Untitled1.exe
/Untitled2.cpp
/Untitled2.exe
/Untitled25.cpp
/Untitled25.exe
/Untitled3.cpp
/Untitled3.exe
/Vivo V9
/Vivo Y22
/VOLUNTEER-FORM-1C-REV Josep Hariannja.docx
/watch.html
/WEDDING UDA DAN NANGUDA
/WP FTI 2023
/WP WS
/xampples
/Zoom
/My Music
/My Videos
/My Pictures